<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{ client_key }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Live Stream</h1>
        <div id="auth_interface" class="auth-container">
            <div id="login_form">
                <h2>Login</h2>
                <div class="form-group">
                    <input type="text" id="login_username" placeholder="Username">
                    <input type="password" id="login_password" placeholder="Password">
                    <button onclick="login()">Login</button>
                </div>
                <p>Don't have an account? <a href="javascript:void(0)" onclick="showRegisterForm()">Register here</a></p>
            </div>
            <div id="register_form" style="display: none;">
                <h2>Register</h2>
                <div class="form-group">
                    <input type="text" id="reg_username" placeholder="Username">
                    <input type="password" id="reg_password" placeholder="Password">
                    <input type="email" id="reg_email" placeholder="Email">
                    <button onclick="register()">Register</button>
                </div>
                <p>Already have an account? <a href="javascript:void(0)" onclick="showLoginForm()">Login here</a></p>
            </div>
        </div>
        <div id="stream_interface" class="stream-container" style="display:none;">
            <div class="logout-icon" onclick="logout()">
                <i class="fa fa-sign-out-alt"></i>
            </div>
            <div class="stream-buttons">
                <button class="stream-btn" onclick="createStream()"><i class="fas fa-video"></i> Create Stream</button>
                <button class="stream-btn" onclick="startStreamSession()"><i class="fas fa-play"></i> Start Stream</button>
                <button class="stream-btn" onclick="stopStreamSession()"><i class="fas fa-stop"></i> Stop Stream</button>
                <button class="stream-btn" onclick="showCommentMenu()"><i class="fas fa-comment"></i> Comment</button>
                <button class="stream-btn" onclick="showDonateMenu()"><i class="fas fa-donate"></i> Donate</button>
            </div>
            <div class="video-container">
                <video id="video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360"></video>
                <div id="comments-overlay" class="comments-overlay">
                    <div id="messages" class="comments"></div>
                </div>
            </div>
            <div id="comment_menu" class="comment-container" style="display:none;text-align: center;">
                <h2>Comments</h2>
                <input type="text" id="message" placeholder="Enter your message">
                <button onclick="sendMessage()">Send</button>
            </div>
            <script>
                function toggleCreditCardFields() {
                    const paymentMethod = document.getElementById('id_payment_method').value;
                    const creditCardFields = document.querySelector('.credit-card-fields');
                    if (paymentMethod === 'credit_card') {
                        creditCardFields.style.display = 'block';
                    } else {
                        creditCardFields.style.display = 'none';
                    }
                }
            </script>
            <div id="donate_menu" class="donation-container1" style="display:none;text-align: center;">
                <h2>Donate</h2>
                <form id="donation-form" method="POST" action="{% url 'donate' %}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="jUA4BIzEvLY1FXDzH06Jnq5cg94d5eZgyzePuHBx5jDJ3hvTMtGTSXdmehgxhSSr">
                    <div class="form-group">
                        <label for="id_amount">Amount:</label>
                        <input type="number" name="amount" id="id_amount" required="">
                    </div>
                    <div class="form-group">
                        <label for="id_payment_method">Payment Method:</label>
                        <select name="payment_method" id="id_payment_method" onchange="toggleCreditCardFields()" required="">
                            <option value="bank_transfer">Bank Transfer</option>
                            <option value="virtual_account">Virtual Account</option>
                            <option value="credit_card">Credit Card</option>
                        </select>
                    </div>
                    <div class="credit-card-fields" style="display: none;">
                        <div class="form-group">
                            <label for="id_cc_number">Credit Card Number:</label>
                            <input type="text" name="cc_number" id="id_cc_number">
                        </div>
                        <div class="form-group">
                            <label for="id_cc_name">Name on Card:</label>
                            <input type="text" name="cc_name" id="id_cc_name">
                        </div>
                        <div class="form-group">
                            <label for="id_cc_cvv">CVV:</label>
                            <input type="text" name="cc_cvv" id="id_cc_cvv">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" id="id_email">
                    </div>
                    <button type="submit">Donate</button>
                </form>
            </div>
            <div id="qris-container" style="display: none; text-align: center;">
                <h3>Scan this QR Code to Pay</h3>
                <img id="qris-qr-code" src="" alt="QR Code for QRIS Payment">
            </div>
        </div>
        <div id="custom-alert" class="alert">
            <p id="custom-alert-message"></p>
            <button onclick="hideAlert()">OK</button>
        </div>
    </div>
    <script>
        let streamId;
        let ws;

        const avatarUrl = "https://cdn-icons-png.flaticon.com/512/5556/5556499.png";

        function showAlert(message) {
            const alertDiv = document.getElementById('custom-alert');
            const alertMessage = document.getElementById('custom-alert-message');
            alertMessage.textContent = message;
            alertDiv.classList.add('show');
            setTimeout(() => {
                alertDiv.classList.remove('show');
            }, 3000); // 3 seconds
        }

        function hideAlert() {
            const alertDiv = document.getElementById('custom-alert');
            alertDiv.style.display = 'none';
        }

        function register() {
            const username = document.getElementById('reg_username').value;
            const password = document.getElementById('reg_password').value;
            const email = document.getElementById('reg_email').value;

            fetch('/api/register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                    email: email
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.id) {
                    showAlert('Registration successful. Please log in.');
                    showLoginForm();
                } else {
                    showAlert('Registration failed.');
                }
            });
        }

        function login() {
            const username = document.getElementById('login_username').value;
            const password = document.getElementById('login_password').value;

            fetch('/api/token/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.access) {
                    localStorage.setItem('access_token', data.access);
                    localStorage.setItem('refresh_token', data.refresh);
                    localStorage.setItem('username', username); // Store username in localStorage
                    showAlert('Login successful.');
                    document.getElementById('stream_interface').style.display = 'block';
                    document.getElementById('auth_interface').style.display = 'none';
                } else {
                    showAlert('Login failed.');
                }
            });
        }

        function logout() {
            localStorage.removeItem('access_token');
            localStorage.removeItem('refresh_token');
            localStorage.removeItem('username');
            showAlert('Logged out successfully.');
            document.getElementById('stream_interface').style.display = 'none';
            document.getElementById('auth_interface').style.display = 'block';
        }

        function createStream() {
            fetch('/api/streams/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                },
                body: JSON.stringify({
                    title: 'Test Stream',
                    description: 'This is a test stream'
                })
            })
            .then(response => {
                if (response.status === 401) {
                    showAlert('Session expired. Please log in again.');
                    logout();
                    return;
                }
                return response.json();
            })
            .then(data => {
                if (data.id) {
                    streamId = data.id;
                    const username = data.username;
                    localStorage.setItem('stream_id', data.id);
                    showAlert(`Stream created successfully by ${username}, stream ID: ${data.id}, Please update into OBS Key`);
                } else {
                    console.error('Stream creation failed', data);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function connectWebSocket(streamId) {
            ws = new WebSocket(`ws://${window.location.host}/ws/stream/${streamId}/`);

            ws.onopen = function() {
                console.log('WebSocket connection opened');
            };
            ws.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.type === 'comment') {
                    const comment = data.comment;
                    displayComment(comment);
                }
            };
            ws.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
            ws.onclose = function(event) {
                if (event.wasClean) {
                    console.log(`WebSocket connection closed cleanly, code=${event.code}, reason=${event.reason}`);
                } else {
                    console.error('WebSocket connection closed unexpectedly');
                }
            };
        }

        function initializeVideoStream(streamId) {
            const videoElement = document.getElementById('video');
            const player = videojs(videoElement, {
                liveui: true,
                controls: true,
                preload: 'auto',
                autoplay: true
            });

            player.src({
                src: `http://127.0.0.1:8000/hls/${streamId}.m3u8`,
                type: 'application/x-mpegURL'
            });

            player.on('error', function() {
                console.error('Error occurred:', player.error());
            });

            player.ready(function() {
                console.log('Video.js player is ready');
                player.play().catch(error => {
                    console.error('Error playing video:', error);
                });
            });
        }

        function startStreamSession() {
            streamId = localStorage.getItem('stream_id');
            if (!streamId) {
                showAlert('No stream created. Please create a stream first.');
                return;
            }
            fetch(`/api/streams/${streamId}/start/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }
            })
            .then(response => {
                if (response.status === 401) {
                    showAlert('Session expired. Please log in again.');
                    logout();
                    return;
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'Stream started') {
                    showAlert(`Your stream key is: ${streamId}`);
                    connectWebSocket(streamId);
                    initializeVideoStream(streamId);
                } else {
                    showAlert('Failed to start stream.');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function stopStreamSession() {
            fetch(`/api/streams/${streamId}/stop/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'Stream stopped') {
                    showAlert('Stream stopped successfully.');
                } else {
                    showAlert('Failed to stop stream.');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function sendMessage() {
            const username = localStorage.getItem('username');
            const message = document.getElementById('message').value;
            if (message.trim() === "") {
                alert("Comment cannot be empty.");
                return;
            }
            if (!streamId) {
                alert("Comment cannot be used because there is no streamId");
                return;
            }
            if (ws && ws.readyState === WebSocket.OPEN) {
                ws.send(JSON.stringify({ 'username': username, 'message': message }));
            }
            document.getElementById('message').value = ""; // Clear the input field
        }

        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);
            if (isNaN(date.getTime())) {
                console.error('Invalid date:', timestamp);
                return 'Invalid date';
            }
            const yyyy = date.getUTCFullYear();
            const mm = String(date.getUTCMonth() + 1).padStart(2, '0');
            const dd = String(date.getUTCDate()).padStart(2, '0');
            const hh = String(date.getUTCHours()).padStart(2, '0');
            const min = String(date.getUTCMinutes()).padStart(2, '0');
            const ss = String(date.getUTCSeconds()).padStart(2, '0');
            return `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;
        }

        function displayComment(comment) {
            const commentElement = document.createElement('div');
            commentElement.classList.add('comment');

            const avatarElement = document.createElement('img');
            avatarElement.src = avatarUrl;
            avatarElement.alt = `${comment.username}'s avatar`;
            avatarElement.classList.add('avatar');

            const contentElement = document.createElement('div');
            contentElement.classList.add('content');

            const timestampElement = document.createElement('div');
            timestampElement.classList.add('timestamp');
            timestampElement.textContent = formatTimestamp(comment.created_at);

            const usernameElement = document.createElement('div');
            usernameElement.classList.add('username');
            usernameElement.textContent = comment.username;
            const messageElement = document.createElement('div');
            messageElement.textContent = comment.content;

            contentElement.appendChild(usernameElement);
            contentElement.appendChild(messageElement);
            contentElement.appendChild(timestampElement);
            commentElement.appendChild(avatarElement);
            commentElement.appendChild(contentElement);

            document.getElementById('messages').appendChild(commentElement);
        }

        document.getElementById('donation-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const response = await fetch(e.target.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            });
            const data = await response.json();
            if (data.token) {
                snap.pay(data.token, {
                    onSuccess: function(result) {
                        alert('Payment success');
                    },
                    onPending: function(result) {
                        alert('Waiting for payment');
                    },
                    onError: function(result) {
                        alert('Payment failed');
                    },
                    onClose: function() {
                        alert('Payment popup closed without finishing the payment');
                    }
                });
            } else if (data.status === 'manual_payment_pending') {
                alert('Please follow the manual payment instructions to complete your donation.');
            }
        });

        function showRegisterForm() {
            document.getElementById('register_form').style.display = 'block';
            document.getElementById('login_form').style.display = 'none';
        }

        function showLoginForm() {
            document.getElementById('register_form').style.display = 'none';
            document.getElementById('login_form').style.display = 'block';
        }

        function showCommentMenu() {
            document.getElementById('comment_menu').style.display = 'block';
            document.getElementById('donate_menu').style.display = 'none';
        }

        function showDonateMenu() {
            document.getElementById('comment_menu').style.display = 'none';
            document.getElementById('donate_menu').style.display = 'block';
        }
    </script>
</body>
</html>
